:root {
    --first-color: #ffffff;
    --second-color: #283681;
    --third-color: #3a3a3a;
    --fourth-color: #b11f1f;
  
    --quicksand--font: 'Quicksand', sans-serif; /* 400 - 700 */
    --sourceCodePro: 'Source Code Pro', monospace; /* 400 - 700 */
    --VT323-font: 'VT323', monospace; /* 400 */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 96vh;
    margin: auto;
    padding: 2vh;
  }
  
  .container__a-img {
    height: auto;
    width: 40px;
  }
  
  .container__div-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  
  .btn {
    align-items: center;
    border: 1.4px solid var(--second-color);
    border-radius: 24px;
    color: var(--second-color);
    display: flex;
    font-family: var(--quicksand--font);
    height: 2rem;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    text-decoration: none;
    width: 16rem;
  }
  
  .btn--primary {
    background-color: var(--second-color);
    color: var(--first-color);
  }
  
  .btn--big {
    height: 4rem;
    width: 19rem;
  }
  
  .btn:active {
    background-color: var(--fourth-color);
  }
  
  .btn:hover {
    opacity: .8;
  }
  
  .btn-icon {
   margin-right: .5rem;
   pointer-events: none;
  }